// Colors
$main-color:#937FE1;
$background-header: #E7E2FE;
$background-coupon: white;
$red: #FE2E64;
$bonus-icon: #E9F2DF;
$offer-icon: #FFECD6;
$block-icon: #7A64CC;
$shadow-coupon: 0px 3px 0px 0px #715EBB;

// Sizes
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;


